*{
    padding:0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: ghostwhite;
    
}

h1, p{
    font-family: monospace;

}

#logo{
    margin-top: 20px;
    text-align: center;
}

#Box{
    display: flex;
    justify-content: center;
    background-color: #BA47FF;
    width: 400px;
    height: 200px;
    margin: 20px;

}

textarea{
    margin: auto;
    width: 15em;
    height: 10em;
    
}

#Configurations{
    flex-direction: column;

    margin: 20px;
}

input{
    padding: 3px;
}

button{
    background-color: #BA47FF;
    color: white;
    border: none;
    padding: 5px;
    margin: 5px;
}